@font-face 
  font-family: 'sell-icon'
  src:  url('../../../static/fonts/sell-icon.eot?p8ocat')
  src:  url('../../../static/fonts/sell-icon.eot?p8ocat#iefix') format('embedded-opentype'),
    url('../../../static/fonts/sell-icon.ttf?p8ocat') format('truetype'),
    url('../../../static/fonts/sell-icon.woff?p8ocat') format('woff'),
    url('../../../static/fonts/sell-icon.svg?p8ocat#sell-icon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-arrow_lift:before 
  content: "\e900"

.icon-thumb_up:before 
  content: "\e901"

.icon-thumb_down:before 
  content: "\e902"

.icon-shopping_cart:before 
  content: "\e903"

.icon-favorite:before 
  content: "\e904"

.icon-check_circle:before 
  content: "\e905"

.icon-close:before 
  content: "\e906"

.icon-remove_circle_outline:before 
  content: "\e907"

.icon-add_circle:before 
  content: "\e908"

.icon-keyboard_arrow_right:before 
  content: "\e909"

.icon-location:before 
  content: "\e947"

.icon-location2:before 
  content: "\e948"

.icon-arrow-up-left2:before 
  content: "\ea39"

.icon-arrow-up2:before 
  content: "\ea3a"

.icon-arrow-up-right2:before 
  content: "\ea3b"

.icon-arrow-right2:before 
  content: "\ea3c"

.icon-arrow-down-right2:before 
  content: "\ea3d"

.icon-arrow-down2:before 
  content: "\ea3e"

.icon-arrow-down-left2:before 
  content: "\ea3f"

.icon-arrow-left2:before 
  content: "\ea40"

.icon-circle-up:before 
  content: "\ea41"

.icon-circle-right:before 
  content: "\ea42"

.icon-circle-down:before 
  content: "\ea43"

.icon-circle-left:before 
  content: "\ea44"

.icon-ctrl:before 
  content: "\ea50"

.icon-search:before 
  content: "\e986"

.icon-cart:before 
  content: "\e93a"

